@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap')

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:outfit;
}

@layer components{
    .divcentre{
        @apply flex items-center;
    }
    .active{
        @apply pb-1 border-b-2 border-solid border-orange-700;
    }
    .button{
        @apply px-4 py-2 border-solid border-2 border-white rounded-lg text-lg hover:bg-orange-500 ;
    }
    .margin{
        @apply mx-36 my-3;
    }
}

.header{
    
    background: url('../public/header_img.png') no-repeat ;
    background-size: contain;
  
    
}
.header-contain{
    animation: FadeIn 3s; 
}
@keyframes FadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.scrollhide::-webkit-scrollbar{
    display: none;

}